<html><head>
    <link rel="stylesheet" href="gameLayout.css">
</head>
    <body>
        <h2>
            The game begins
    </h2>
        <table >
            <tr>
                <td class=grid>
                    d
                </td>
                <td class=grid>
d                    
                </td>
                <td class=grid>
    s                  
                </td>
            </tr>

            <tr>
                <td class=grid>
                    
                </td>
                <td class=grid>
                    
                </td>
                <td class=grid>
                    
                </td>
            </tr>

            <tr>
                <td class=grid>
                    
                </td>
                <td class=grid>
                    
                </td>
                <td class=grid>
                    
                </td>
            </tr>
        </table>
    </body>
</html>